.downloadLabel{
    .downloadIcon {
        width: 20px;
        height: 20px;
        svg {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            display: inline-block;
            cursor: pointer;
        }
    }
}